<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>Shopping Cart</title>
  <style>
  [ng\:cloak], [ng-cloak], .ng-cloak{
    display:none;
  }
  </style>
</head>
<body style="background-color: #e0e0e0" ng-controller="myCtrl">
  <header>
    <h1>Eat. Shop. Sleep. Repeat.</h1>
  </header>
  <center>
  <h2>Shopping Cart</h2>
  <div>
    <table class="table" style="width : 60%;">
      <tr>
        <th>Description</th>
        <th>Qty</th>
        <th>Cost</th>
        <th>Total</th>
        <th></th>
      </tr>
      <tr ng:repeat="item in invoice.items">
        <td><input type="text" ng-model="item.description" class="input-small"></td>
        <td><input type="number" ng-model="item.qty" ng-required class="input-mini"></td>
        <td><input type="number" ng-model="item.cost" ng-required class="input-mini"></td>
        <td>{{item.qty * item.cost | currency}}</td>
        <td>
          [<a href ng-click="removeItem($index)">X</a>]
        </td>
      </tr>
      <tr>
        <td><a href ng-click="addItem()" class="btn btn-primary">add item</a></td>
        <td></td>
        <td>Total:</td>
        <td>{{total() | currency}}</td>
      </tr>
    </table>
  </div>

  <footer>
    Copyright © Eat. Shop. Sleep. Repeat.
  </footer>
</center>

  <script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="myController.js"> </script>
</body>
</html>
