<!doctype html>
<html ng-app="app5" ng-cloak>
  <head>
    <title>User Registration Form</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
    }
    table{
      width: 400px;
      text-align: left;
      border: 2px solid black;
      padding: 10px;
    }
    input.ng-dirty.ng-invalid {
      border-color: red;
    }
    span {
      color: red;
    }
    form{
      margin: 50px auto 20px;
    }
    </style>
  </head>
  <body>
    <center>
    <div ng-controller="userCtrl">
      <form name="userForm" ng-submit="saveUser(userInfo)">
        <label>First Name:</label>

        <input type="text" name="fName" ng-model="userInfo.fName" ng-required="true" ng-minlength="2" />

        <span class="error-message" ng-show="userForm.fName.$dirty && userForm.fName.$error.required">
          Must Enter a First Name
        </span>

        <span class="error-message" ng-show="userForm.fName.$dirty && userForm.fName.$error.minlength">
          Must be a Minimum of 2 Characters
        </span>

        <br><br>

        <label>Last Name:</label>

        <input type="text" name="lName" ng-model="userInfo.lName"
        ng-required="true" ng-minlength="2" />

        <span class="error-message" ng-show="userForm.lName.$dirty && userForm.lName.$error.required">
          Must Enter a Last Name
        </span>

        <span class="error-message" ng-show="userForm.lName.$dirty && userForm.lName.$error.minlength">
          Must be a Minimum of 2 Characters
        </span>

        <br><br>

        <label>Street:</label>

        <input type="text" name="street" ng-model="userInfo.street" ng-required="true" ng-minlength="6" ng-pattern="/^(\d{1,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$/" />

        <span class="error-message" ng-show="userForm.street.$dirty && userForm.street.$invalid">
          Must Enter a Number, Street and Street Type (ex: 123 Main St)
        </span>

        <br><br>

        <label>Subscribe:</label>

        <input type="checkbox" name="subscribe" ng-model="userInfo.subscribe" ng-true-value="'Subscribe'" ng-false-value="'Don\'t Subscribe'" />

        <br><br>

        <label>Delivery Method:</label>

        <select name="delivery" ng-model="userInfo.delivery"  ng-required="true">

          <option value="Email">Email</option>
          <option value="Mail">Mail</option>

        </select>

        <br><br>

        <input type="submit" value="Save" ng-disabled="userForm.$invalid"/>

        <ul>
        <li ng-repeat = "item in user">
          {{ 'User: ' + item.fName + " " + item.lName + " " + item.street + " " + item.subscribe + " " + item.delivery}}
        </li>
      </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/formController.js"></script>
  </center>
  </body>
</html>
